:root {}

body {
    width: 100%;
    height: 100vh;
    background: rgba(255, 0, 0, 0.291);
}

.horizon-image {
    width: 400px;
}

#horizon-image {
    height: 300px;
}

form {
    width: 50%;
    border: 1px solid black;
}